<button type="button" class="list-group-item browser-item" id="browser-item-{{model.attributes.trackId}}"
        data-track-id="{{model.attributes.trackId}}"
        data-url="{{model.attributes.url}}">
    {{model.attributes.name}}
</button>