<!doctype html>
<html>
<head>
    <title>Premix</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Permanent+Marker">
    <link rel="stylesheet" href="main.css">
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="logo">
                <h1><span>premix</span><strong>DJ</strong></h1>
            </div>
        </div>
    </div>
</nav>

<div id="main-content">

</div>

<div id="contextual-content">
    <div id="contextual-content-handle">
    </div>
    <div id="contextual-content-main">
    </div>
</div>

<footer id="footer">
    <div class="container-fluid">
        <p class="pull-right text-muted">Copyright Jack Cross 2016</p>
    </div>
</footer>

<script src="main.js"></script>
</body>
</html>
