<div class="module timeline" id="timeline">
    <div class="timeline-markers">
        <div class="timeline-marker">0</div>
        <div class="timeline-marker">1</div>
        <div class="timeline-marker">2</div>
        <div class="timeline-marker">3</div>
        <div class="timeline-marker">4</div>
        <div class="timeline-marker">5</div>
        <div class="timeline-marker">6</div>
        <div class="timeline-marker">7</div>
        <div class="timeline-marker">8</div>
        <div class="timeline-marker">9</div>
    </div>
    <div id="playhead"/>
    <div id="timeline-tracks">
    </div>
</div>